header {
	border-bottom: 1px solid #CCCCCC;
	background-color: white;
	height: 70px;
	width: 100%;
}

.header-logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	height: 100%;
	margin-left: 20px;
	width: 142px;
}
