.places h1 {
	font-size: 30px;
}

.places {
	max-width: 1000px;
	margin: 30px auto;
}

.places article {
	display: inline-block;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places article:nth-last-child(1) {
	display: block;
	margin: 20px auto;
}


article h2 {
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
}
